<ion-view class="imagem-login">
    <ion-content class="form-login">

        <form name="login" ng-submit="logarUsuario()" class="">
            <div class="list">
                <label class="item item-input item-floating-label">
                    <span class="input-label label-login">E-mail</span>
                    <input type="email" class="input-login" placeholder="E-mail" ng-model="email" required>
                </label>
                <label class="item item-input item-floating-label">
                    <span class="input-label label-login">Senha</span>
                    <input type="password" class="input-login" placeholder="Senha" ng-model="password" required>
                </label>
            </div>	

            <button class="button button-full button-calm" type="submit" ng-disabled="login.$invalid">Entrar</button>
        </form>
    </ion-content>
</ion-view>