<ion-view view-title="Ofertas">
    <ion-content>
        
        <ion-list>
            <ion-item ng-repeat="oferta in ofertas">
                <div class="item-avatar">
                    <img data-ng-src="{{oferta.imagem}}" alt="">
                    <h2 class="label-login">{{oferta.titulo}} - {{oferta.valor_formatado}}</h2>
                    <p>{{oferta.descricao}}</p>
                    <p>Até: {{oferta.validade | date:"dd/MM/yyyy"}}</p>
                </div>
                <ion-option-button class="button-energized" ng-click="addFavoritos(oferta)">
                    Favoritos
                </ion-option-button>
            </ion-item>
        </ion-list>

    </ion-content>
</ion-view>