.img-avatar {
  width: 38px;
  border-radius: 50%;
}

.form-login {
  margin-top: 190px;
  width: 80%;
  margin-left: 36px;
}

.title-login {
  color: #11c1f3;
}

/* Default */
.item {
  border-color: transparent !important;
}

.btn-nova-mensagem {
  border-radius: 50%;
  margin-left: 80%;
  /*margin-top: 25%;*/
}

.imagem-login {
  background: url("../img/login.jpg") no-repeat fixed center;
}

ion-content {
  /* background: -webkit-linear-gradient(0deg, #444444 0%, #0a9dc7 100%) !important; */
  background: url(../img/login.jpg) no-repeat top center !important;
}

.list .item, .list .item-complex .item-content {
  background: rgba(255, 255, 255, 0);
}

.item .item-content.activated {
  background-color: #358788 !important;
}

.item {
  border-color: transparent !important;
  color: #fff !important;
}

.label-login {
  display: table;
  padding: 7px 10px 7px 0px;
  max-width: 200px;
  width: 35%;
  color: #fff;
  font-size: 16px;
}

.input-login {
  color: #fff !important;
  font-size: 18px !important;
}

.item p {
  color: #fff;
  font-size: 14px;
  margin-bottom: 2px;
}

.item-select select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  padding: 0px 50px;
  max-width: 65%;
  border: none;
  background: #fff;
  color: #333;
  text-indent: .01px;
  text-overflow: '';
  white-space: nowrap;
  font-size: 14px;
  cursor: pointer;
  direction: rtl;
  border-radius: 6px;
}

.textarea {
  background: #fff;
  color: #2b2929;
  border-radius: 6px;
  height: 70px;
  margin-left: -2%;
}
